* {
    padding: 0;
    margin: 0;
    border: 0;
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

body {
    background-color: rgb(41, 41, 41);
}

.content {
    margin: auto;
    width: 500px;
    height: 100vh;
}

table {
    width: 100%;
}

input, button {
    width: 100%;
    background-color: rgb(65, 65, 65);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline-style: solid;
    outline-color: rgb(124, 124, 124);
    outline-width: 2px;
}

button:hover {
    background-color: rgb(124, 124, 124);
}

button:active {
    background-color: rgb(97, 97, 97);;
}

.timer {
    font-size: 100px;
}

.desc {
    font-size: 16px;
    text-align: left;
}